<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grist Invoice</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>

    <script src="invoice.js?ver=11"></script>
    <script src="exampleData.js"></script>

    <link rel="stylesheet" href="invoice.css?ver=17">
  </head>
  <body>
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Waiting for data...</p>
          <ul>
            <li v-bind:class="[tableConnected ? 'done' : '']">I need <b>read table</b> access.</li>
            <li v-bind:class="[haveRows ? 'done' : '']">I need at least one row of data.</li>
            <li v-bind:class="[rowConnected ? 'done' : '']">I need <b>Select By</b> set.</li>
          </ul>
          <p>Examples:</p>
          <ul>
            <li><a class="button" href="index.html?demo=1">A filled out invoice</a></li>
            <li><a class="button" href="index.html?labels=1">A labelled invoice</a></li>
          </ul>
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>
      <template v-if="invoice">
        <div class="top">
          <div class="logo">
            <img src="Goldentwigs.png" alt="GoldenTwigs">
          </div>
          <div class="block">
            <div class="header">
              <div class="meta title">Invoice<br>Facture</div>
            </div>
            <div class="info"><span class="meta">Invoice / Facture N°</span> #{{ invoice.Number }}</div>
            <div class="info" v-if="invoice.Issued"><div class="meta date-tag">Date</div> {{ invoice.Issued | asDate }}</div>
          </div>
          
          <div class="supplier">
            <div v-for="business in (invoice.Invoicer ? [invoice.Invoicer] : [])">
              <template v-if="typeof(business) === 'string'">
                <div class="address newlined">{{ business }}</div>
              </template>
              <template v-else>
                <div class="address">
                  <span class="name">{{ business.Name }}</span><br />
                  {{ business.Street1 }}<br />
                  <template v-if="business.Street2">
                    {{ business.Street2 }}<br />
                  </template>
                  {{ business.City }} {{ business.State }} {{ business.Zip }}<br />
                  <template v-if="business.Country">
                    {{ business.Country }}<br />
                  </template>
                </div>
                <template v-if="business.Email">
                  <div class="email">{{ business.Email }}</div>
                </template>
                <template v-if="business.Phone">
                  <div class="phone">{{ business.Phone }}</div>
                </template>
                <template v-if="business.Website">
                  <div class="website"><a v-bind:href="business.Url">{{ business.Website }}</a></div>
                </template>
              </template>
            </div>
          </div>
        </div>
        
        <div class="client" v-for="business in (invoice.Client ? [invoice.Client] : [])">
          <div class="title">Client</div>
          <div class="details">
            <template v-if="typeof(business) === 'string'">
              <div class="newlined">{{ business }}</div>
            </template>
            <template v-else>
              <div>{{ business.Name }}</div>
              <template v-if="business.Street1">
                {{ business.Street1 }},
              </template>
              <template v-if="business.Street2">
                {{ business.Street2 }},
              </template>
              {{ business.City }} {{ business.State }} {{ business.Zip }}
              <template v
