<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grist Invoice</title>
    <style>
      body {
        background-color: #FFFFFF;
      }
        .info, .address, .meta {
        color: black; /* Définit la couleur du texte à noir */
      }
    </style>
    <!-- A template for showing an invoice in a Custom Widget in Grist. -->
    <!-- Uses Vue.js, moment, and the Grist Plugin API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>

    <script src="invoice.js?ver=11"></script>
    <script src="exampleData.js"></script>

    <link rel="stylesheet" href="invoice.css?ver=17">
  </head>
  <body>
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Waiting for data...</p>
          <ul>
            <li v-bind:class="[tableConnected ? 'done' : '']">I need <b>read table</b> access.</li>
            <li v-bind:class="[haveRows ? 'done' : '']">I need at least one row of data.</li>
            <li v-bind:class="[rowConnected ? 'done' : '']">I need <b>Select By</b> set.</li>
          </ul>
          <p>Examples:</p>
          <ul>
            <li><a class="button" href="index.html?demo=1">A filled out invoice</a></li>
            <li><a class="button" href="index.html?labels=1">A labelled invoice</a></li>
          </ul>
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>
      <template v-if="invoice">

        <!-- TABLE TOP -->
        
        <div class="top">

          
          <div class="logo img">
            <img src="oddleaf.png" alt="oddleaf">
          </div>
         
          <div class="block">
            <div class="header">
              <div class="meta title">Invoice<br>Facture</div>
            </div>

          </div>
            
          <div class="logo">
            <img src="Goldentwigs.png" alt="GoldenTwigs">
          </div>
          

        </div>


        <div class="top">
                   
          <div class="block">
    
            <div class="info"><span class="meta">Invoice / Facture N°</span> #{{ invoice.Number }}</div>
            <div class="info" v-if="invoice.Issued"><div class="meta date-tag">Date</div> {{ invoice.Issued | asDate }}</div>
            <div class="info"><span class="meta">Client</span></div>
          

            <div class="info" v-for="business in (invoice.Client ? [invoice.Client] : [])">

<div class="details" style="padding-left: 73px;">
  <template v-if="typeof(business) === 'string'">
    <div class="newlined">{{ business }}</div>
  </template>
  <template v-else>
    <div>{{ business.Name }}</div>
    <template v-if="business.Street1">
      {{ business.Street1 }}
    </template>
    <template v-if="business.Street2">
      - {{ business.Street2 }}
    </template>
    <br />{{ business.Zip }} {{ business.City }} - {{ business.State }}
    <template v-if="business.Country">
      <br />{{ business.Country }}
    </template>
  </template>
</div>



        </div>

            
          </div>

<!-- INFO ASSO -->
          
          <div>
              <div style="text-align: right;">
                <span style="color: black; font-size: 1.3em;">GoldenTwigs</span><br />
                <span style="color: #3A4550; font-size: smaller;">Association représentée par Alain Succa</span><br />
                <span style="color: #3A4550; font-size: smaller;">en sa qualité de président,</span><br />
                <span style="color: black;">187 rue de la Mairie</span><br />
                <span style="color: black;">ESPENEL 26340 - FRANCE</span><br />
                <span style="color: #3A4550; font-size: smaller;">N° Siret : 939 010 229 00010 - APE : 9001Z</span><br />
                <span style="color: #3A4550; font-size: smaller;">goldentwigs@ik.me</span><br />
              </div>
          </div>
        </div>
        
        
<br><br>

        
<!-- LISTE À FACTURER -->


        
        <table class="items">
          <template v-if="!Array.isArray(invoice.Items)">
            <tr>
              <th>Description</th>
              <th class="money">Total</th>
            </tr>
            <tr>
              <td>{{ invoice.Items }}</td>
              <td class="money">{{ invoice.Total | currency }}</td>
            </tr>
          </template>
         
          
<template v-if="Array.isArray(invoice.Items)">
  <tr>
    <th>Description</th>
    <th class="money">Unit Price<br>Prix unitaire</th>
    <th class="number">Quantity<br>Quantité</th>
    <th class="money">Total</th>
  </tr>
  <tr v-for="item in invoice.Items">
    <td>{{ item.Description }}</td>
    <td class="money">{{ item.Price | currency }}</td>
    <td class="number">{{ item.Quantity }}</td>
    <td class="money">{{ item.Total | currency }}</td>
  </tr>



           
<tr>
  <td>{{ invoice.Add_Expenses_Type | cleanText }}</td>
  <td></td>
  <td></td>
  <td class="money">{{ invoice.Add_Expenses | currency }}</td>
</tr>




           
</template>   
        </table>


        <div class="summary">
          <div class="part">
            <div class="title">Subtotal<br>Sous-total</div>
            <div class="details">{{ invoice.Subtotal | currency }}</div>
          </div>
          <div class="part">
            <div class="title">Taxes</div>
            <div class="details">{{ invoice.Taxes | currency }}</div>
          </div>
          <div class="total">
            <div class="title">Total</div>
            <div class="details">{{ invoice.Total | currency }}</div>
          </div>
        </div>




        
        <template v-if="invoice.Note">
          <p class="note">{{ invoice.Note }}</p>
        </template>





        
        <template v-for="help in (invoice.Help ? [invoice.Help] : [])">
          <div class="help">
            <div class="help-close">
              Add <span class="column-name">Due</span> or <span class="column-name">Issued</span> date to hide this help.
            </div>
            <div class="title">Column information</div>
            <div class="details">
              <table>
                <tr v-for="group in ['recognized', 'expected', 'ignored']">
                  <td class="key">{{ group }}</td>
                  <td>
                    <template v-if="group in help">
                      <div v-bind:class="['column-name', 'column-' + group]" v-for="col in help[group]">{{col}}</div>
                    </template>
                    <template v-else>
                      &mdash;
                    </template>
                  </td>
                </tr>
              </table>
              <template v-if="invoice.SuggestReferencesColumn">
                <div>For structured address and item information, add a <span class="column-name">References</span> column with this formula:</div>
                <div>
                  <pre>RECORD(rec, expand_refs=1)</pre>
                </div>
              </template>
            </div>
          </div>
        </template>
        <template v-if="invoice.Paid">
          <div class="paid">
            PAID
          </div>
        </template>



        <div>
              <div style="text-align: right;">
                <span style="color: #3A4550; font-size: smaller;">You can pay by bank transfer to the following IBAN:</span><br />
                <span style="color: #3A4550; font-size: smaller;">Vous pouvez payer en effectuant un virement sur le compte suivant:</span><br />
                <span style="color: black; font-size: 1.3em;">IBAN : FR18 20041 01007 2655251R038 13   -   BIC : PSSTFRPPLYO</span><br />
                <span style="color: #3A4550; font-size: smaller;">You can also pay via Paypal to this email address:</span><br />
                <span style="color: #3A4550; font-size: smaller;">Vous pouvez également payer par paypal sur le compte:</span><br />
                <span style="color: black; font-size: 1.3em;">goldentwigs@ik.me</span><br />
              </div>
          </div>

        <div class="footer">
          <div class="thanks">
            Thank you!<br>Merci !
          </div>
        </div>
        

        <div class="print">
          <a href="javascript:window.print()">Print</a>
        </div>
      </template>
    </div>
  </body>
</html>
